{{#> 'layouts/main'}}
  {{#*inline "title"}}
  Login
  {{/inline}}
  
  {{#*inline "content"}}
  <section>
    <article>
      <h1>{{text req "login"}}</h1>
      <div>
        <a class="button-link" href="./login/employee.hbs">{{text req "employee"}} {{text req "login"}}</a>
        <a class="button-link" href="./login/admin.hbs">{{text req "admin"}} {{text req "login"}}</a>
      </div>
    </article>
  </section>
  {{/inline}}
{{/layouts/main}}