{{#> 'layouts/main'}}
  {{#*inline "title"}}
  {{text req "create_atm"}}
  {{/inline}}
  
  {{#*inline "content"}}
  <section>
    <article>
      <h1>{{text req "create_atm"}}</h1>

      <script>
        function handlesuccess(data) {
          alert("created:\n\n" + JSON.stringify(data, null, '  '));
        }
        function handlefail(err) {
          alert("failed:\n\n" + err);
        }
      </script>

      <form action="/api/atm" method="POST" class="ajax-post" onsuccess="handlesuccess" onfail="handlefail">
        <label for="password">{{text req "label_password"}}</label>
        <input type="password" name="password" /><br />
        <label for="description">{{text req "label_description"}}</label>
        <textarea rows="5" type="text" name="description" /></textarea><br />
        <button type="submit">{{text req "submit_create"}}</button>
      </form>
    </article>
  </section>
  <script src="/src/ajax-post.js"></script>
  {{/inline}}
{{/layouts/main}}