{{#> 'layouts/main'}}
{{#*inline "title"}}
{{text req "create_customer"}}
{{/inline}}

{{#*inline "content"}}
<section>
  <article>
    <h1>{{text req "create_customer"}}</h1>

    <script>
      function handlesuccess(data) {
        alert('successfully created\n' + JSON.stringify(data, null, '  '));
      }

      function handlefail(data) {
        alert('creation failed\n' + JSON.stringify(data, null, '  '));
      }

      let month = 1;
      let day = 1;
      let year = 1970;

      let in_dob;
      let in_month;
      let in_day;
      let in_year;

      document.addEventListener('DOMContentLoaded', function() {
        in_dob = document.querySelector('input[name="dateOfBirth"]');
        in_month = document.querySelector('#month');
        in_day = document.querySelector('input[name="day"]');
        in_year = document.querySelector('input[name="year"]');

        function setDate() {
          in_dob.setAttribute('value', new Date(year, month, day).getTime());
        }

        function monthchanged() {
          month = $(in_month).val();
          setDate();
        }

        function daychanged() {
          day = $(in_day).val();
          setDate();
        }

        function yearchanged() {
          year = $(in_year).val();
          setDate();
        }

        in_month.addEventListener('change', monthchanged);
        in_day.addEventListener('change', daychanged);
        in_year.addEventListener('change', yearchanged);
      });


    </script>

    <form action="/api/customer" method="POST" class="ajax-post"
    onsuccess="handlesuccess" onfail="handlefail">
      <label for="username">{{text req "label_username"}}</label>
      <input type="text" name="username" /><br />
      <label for="password">{{text req "label_password"}}</label>
      <input type="password" name="password" /><br />
      <label for="name.first">{{text req "label_firstname"}}</label>
      <input type="text" name="name.first"> <br />
      <label for="name.last">{{text req "label_lastname"}}</label>
      <input type="text" name="name.last"> <br />
      <label for="dateOfBirth">{{text req "birthdate"}}</label><br />
      <label for="month">{{text req "month"}}</label> 
      <select name="month" id="month">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="11">December</option>
      </select> 
      <label for="day">{{text req "day"}}</label>
      <input type="number" min="1" max="31" name="day">
      <label for="year">{{text req "year"}}</label>
      <input type="number" min="1920" name="year"><br />
      <input style="display: none" type="number" name="dateOfBirth">

      <button type="submit">{{text req "submit_create"}}</button>
    </form>
  </article>
</section>

<script src="/src/ajax-post.js"></script>
{{/inline}}
{{/layouts/main}}